<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Nueva Cotización</h3>
    </div>
</div>

<form class="kt-form kt-form--label-right" autocomplete="off" ng-submit="saveCotizacion()" id="frmCotizacion">
    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Tipo</label><br />
                {{cotizacion.tipo.Name}}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Número:</label>
                <br />Numeración Automática
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Clientes:</label>
                <div class="input-group" style="height:30px">
                    <select data-ng-model="cotizacion.cliente" id="cliente" name="cliente" class="form-control select2cls" data-ng-change="selectCliente()">
                        <option data-ng-repeat="customer in customerList" value="{{customer.id}}" data-select2-id="{{customer.id}}">{{customer.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Fecha de elaboración</label>
                <div class="input-group date">
                    <input type="text" class="form-control datepicker" readonly="" data-ng-model="cotizacion.fechaElaboracion" id="fechaElaboracion" name="fechaElaboracion">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Contacto:</label>
                <div class="input-group" style="height:30px">
                    <select data-ng-disabled="cotizacion.cliente == ''" data-ng-model="cotizacion.contacto" id="contacto" name="contacto" class="form-control select2cls" data-ng-change="selectContacto()">
                        <option data-ng-repeat="contactoItem in contactos" data-select2-id="{{contactoItem.id}}">{{contactoItem.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 form-group validated">
                <label>Responsable de la cotización</label><br />
                {{cotizacion.responsableCotizacion}}
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group validated">
                <label>Encabezado:</label>
                <textarea id="encabezado" name="encabezado" data-ng-model="cotizacion.encabezado" class="form-control" rows="4"></textarea>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-9 form-group" style="text-align: right;">
                <button class="btn btn-primary" data-ng-click="addProduct()">Añadir producto</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="min-width:300px">Producto</th>
                            <th>Descripción</th>
                            <th>Disponible</th>
                            <th>Cant</th>
                            <th>Valor Unitario</th>
                            <th>% Desc.</th>
                            <th>Impuesto Cargo</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in dataGridProduct">
                            <td>{{$index + 1}}</td>
                            <td>
                                <div class="form-group" style="height:30px">
                                    <select id="slProducto{{$index}}" data-ng-model="product.productoId" data-ng-change="setProduct(product)" class="form-control" style="width:100%">
                                        <option data-ng-repeat="itemProducto in productList" value="{{itemProducto.id}}" data-select2-id="{{itemProducto.id}}">{{itemProducto.name}}</option>
                                    </select>
                                </div>
                            </td>
                            <td><textarea data-ng-model="product.descripcion" class="form-control" rows="1"></textarea></td>
                            <td>{{product.available_quantity}}</td>
                            <td><input type="number" data-ng-disabled="product.productoId == null" data-ng-change="recalculateTotal(product)" min="0" step="1" data-ng-model="product.cantidad" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></td>
                            <td><input type="number" data-ng-disabled="product.productoId == null" data-ng-change="recalculateTotal(product)" min="0" step="0.1" data-ng-model="product.valorunitario" class="form-control"></td>
                            <td><input type="number" data-ng-disabled="product.productoId == null" data-ng-change="recalculateTotal(product)" min="0" step="0.1" data-ng-model="product.descuento" class="form-control"></td>
                            <td>
                                <select id="slProducto{{$index}}" data-ng-disabled="product.productoId == null" data-ng-model="product.taxId" data-ng-change="setTax(product)" class="form-control" style="width:100%">
                                    <option data-ng-repeat="taxiItem in product.taxesList" value="{{taxiItem.id}}" data-select2-id="{{taxiItem.id}}">{{taxiItem.name}}</option>
                                </select>
                            </td>
                            <td>{{product.totalProducto}}</td>
                            <td><button style='height: 1rem;' data-toggle='tooltip' title='Eliminar producto' class='btn btn-sm btn-icon' ng-click='removeProducto($index)'><i class='fa fa-trash'></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-9 form-group" style="text-align: right;">
                Total Bruto: {{cotizacion.totalBruto}}<br />
                Descuentos: {{cotizacion.descuentos}}<br />
                Subtotal: {{cotizacion.subTotal}}<br />
                <h4><b>Total Neto: {{cotizacion.totalNeto}}</b></h4>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group validated">
                <label>Condiciones Comerciales:</label>
                <textarea id="condicionesComerciales" name="condicionesComerciales" data-ng-model="cotizacion.condicionesComerciales" class="form-control" rows="4"></textarea>
            </div>
        </div>
    </div>
</form>