<form class="kt-form kt-form--label-right" autocomplete="off" ng-submit="saveComprobante()" id="frmComprobante">
    <div class="kt-portlet__body">

        <div class="form-group row filters">

            <div class="col-lg-3 col-md-6 col-sm-6  form-group ">
                <label>Fecha de elaboración</label>
                <div class="input-group date">
                    <input type="text" class="form-control datepicker" readonly="" data-ng-model="document.fecha" id="fechaElaboracion" name="fechaElaboracion">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-calendar glyphicon-th"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6  form-group ">
                <label>Clientes:</label>
                <div class="input-group" style="height:30px">
                    <select data-ng-disabled="cotizacion.idCotizacion != null"
                            data-ng-model="CustomerId"
                            id="cliente"
                            name="cliente"
                            class="form-control select2cls"
                            data-ng-change="selectQuotes()">
                        <option data-ng-repeat="customer in customerList" value="{{customer.id}}" data-select2-id="{{customer.id}}">
                            {{customer.name}}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 form-group ">
                <label>N Cotización:</label>
                <div data-toggle="tooltip"
                     data-placement="bottom"
                     title="Para cargar las cotizaciones debe seleccionar un cliente" class="input-group" style="height:30px">
                    <select data-ng-disabled="cotizacion.idCotizacion != null"
                            data-ng-model="IdCotizacion" id="cliente" name="cliente"
                            class="form-control select2cls">
                        <option data-ng-repeat="quote in quoteSelected" value="{{quote.IdCotizacion}}" data-select2-id="{{quote.IdCotizacion}}">
                            {{quote.IdCotizacion}}
                        </option>
                    </select>
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="la la-search"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6  form-group">
                <button type="button"
                        class="btn btn-primary"
                        style="margin-top: 26px;"
                        data-ng-click="SearchQuotation()"
                        data-toggle="tooltip" data-placement="bottom"
                        title="Buscar cotización">
                    Buscar
                </button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-3 col-md-3 col-sm-3 offset-md-9 form-group" style="text-align: left; float: left; margin-left: 1px">
                <button type="button" 
                        class="btn btn-primary" 
                        data-ng-click="generateProof()">
                Generar comprobante</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <div data-ag-grid="listQuotationGrid" style="height: 60vh !important; width: 85% !important;" class="ag-theme-fresh"></div>
            </div>
        </div>
    </div>
</form>